*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
}

.fs-14{
  font-size: 14px;
}
.fs-17{
  font-size: 17px;
}

.fs-19{
  font-size: 19px;
}
.fs-26{
  font-size: 26px;
}



.font-cinzel{
  font-family: 'Cinzel', serif;
}
.container-fluid{
  padding: 0 12px;
  margin: 0 60px;
}