.collection {
  padding: 80px 0;
}

.collection-title {
  padding: 15px;
  h2 {
    font-size: 46px;
  }
  h6 {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 3px;
    opacity: 0.5;
    color: $gray;
  }
}
