.event {
  padding: 80px 20px;
}
.event-title {
  margin-bottom: 60px;
  padding-right: 72px;
  h6 {
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    opacity: 0.5;
    color: $gray;
  }
}
.event-box {
  .box-img {
    position: relative;
    margin-bottom: 33px;
    .box-info {
      transition: width 0.25s ease-in-out;
      position: absolute;
      bottom: 30px;
      right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 40px;
      img {
        z-index: 2;
      }
      &:hover {
        width: 168px;
        background: $primary;
        text-align: center;
      }
      &:hover span {
        display: block;
      }
      &:hover img {
        display: none;
      }
      span {
        font-size: 14px;
        width: auto;
        padding: 0 20px;
        display: none;
        text-overflow: none;
      }
    }
  }
}
.box-content {
  text-align: center;
  h4 {
    margin-bottom: 20px;
    line-height: 1.4;
    a {
      font-size: 25px;
      color: $secondary;
      transform: scaleX(0);
      transform-origin: 0% 50%;
      transition: transform 0.2s ease-in-out;
      &:hover {
        border-bottom: solid 2px $secondary;
        transform: scaleX(1);
      }
    }
  }
}
p {
  margin-bottom: 84px;
}

// img
.eventImg {
  width: 100%;
}
.infoImg {
  width: 17px;
  height: 17px;
}
